@using FinalProject.Core.Application.ViewModel.User;
@model List<SaveUserViewModel>
@{
    ViewData["Title"] = "Clientes";
}

<div class="container">
    <div class="col-12 mt-5">

        <div class="card">
            <div class="card-header bg-color">
                <h3 class="card-title text-light text-center">LISTADO DE USUARIOS</h3>
            </div>

            <div class="card-body">
                <table class="table bg-white  table-responsive">
                    <thead class="text-white bg-color">
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Nombre de usuario</th>
                            <th>Cedula</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th>Estado Civil</th>
                            <th>Direccion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Nombre</td>
                                    <td>@item.Apellido</td>
                                    <td>@item.NombreUsuario</td>
                                    <td>@item.Cedula</td>
                                    <td>@item.Telefono</td>
                                    <td>@item.Correo</td>
                                    <td>@item.EstadoCivil</td>
                                    <td>@item.Direccion</td>
                                    <td>
                                        <a class="btn btn-warning" asp-controller="Admin" asp-action="Update" asp-route-id="@item.Id"> Editar</a>
                                        <a class="btn btn-danger" asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id"> Eliminar</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var dropdownTrigger = document.querySelector('.btn-link');
    var myDropdown = new bootstrap.Dropdown(dropdownTrigger);
</script>

<style>
    .bg-color {
        background-color: #FFAB27;
    }
</style>
